<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teba.tumbling">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme" >

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="fx5iye44he" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakaod10181f4b3a4896ea4c5d668198e6ccf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.login.LogInActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"/>

    </application>

</manifest>